{
  'parserOptions': {
    'ecmaVersion': 6,
    'sourceType': 'module',
    'ecmaFeatures': {
      'jsx': true
    }
  },
  'rules': {
    'strict': 0,
    'indent': ['error', 2, { 'SwitchCase': 1 }],
    'quotes': [2, 'single'],
    'linebreak-style': [2, 'unix'],
    'semi': [2, 'always'],
    'comma-dangle': ['error', 'only-multiline'],
    'no-console': 'off',
    'keyword-spacing': ['error']
  },
  'env': {
    'es6': true,
    'node': true,
    'browser': true,
    'amd': true,
    'mocha': true
  },
  'extends': 'eslint:recommended',
  'globals': {
    'expect': true,
    'React': true,
  },
  'plugins': [
    'react'
  ]
}
